  .Background {
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  .BackgroundFilter {
      background-color: rgba(82, 82, 82, 0.7);
      backdrop-filter: blur(5px);
  }

  .Wrapper {
      padding: 15px 0 50px 0;
  }

  .Wrapper>i {
      margin: 15px 30px;
  }

  .Wrapper>a {
      display: flex;
      max-width: 100px;
      align-items: center;
      text-decoration: none;
      color: white;
      margin-left: 30px;
      font-size: 20px;
  }

  .Wrapper>h3 {
      margin: 20px 30px;
  }

  .Companies {
      width: 100%;
      display: flex;
      gap: 20px;
      margin: 15px 30px;
  }


  .Companies>article>img {
      height: 50px;
      max-width: 150px;
  }

  .Companies>article>div {
      height: 50px;
      max-width: 150px;
      display: flex;
      align-items: center;
      text-align: center;
  }

  .Companies>article>div>p {
      margin: 0;
      font-size: 15px;
      background-color: rgba(42, 42, 42, 0.5);
      border-radius: 10px;
      padding: 8px 10px;
  }

  .LinkButton>a {
      background-color: #be4040;
      color: white;
      padding: 5px;
      text-decoration: none;
      border-radius: 8px;
      transition: background-color 0.2s;
      margin-right: 10px;
  }

  .LinkButton>a:hover {
      background-color: #913131
  }

  .NotFilm {
      background-color: rgba(42, 42, 42, 0.75);
      padding: 10px 0 10px 30px;
      box-sizing: border-box;
      border-radius: 20px;
      margin: 0 30px;
      display: flex;
      gap: 20px;
  }

  .NotFilm>i {
      font-size: 18px;
  }

  .NotFilm>a {
      font-size: 18px;
      color: rgb(149, 190, 255);
  }

  .Wrapper>p {
      margin: 15px 30px
  }

  .LinkButton {
      margin: 15px 0 0 30px;
  }

  @media screen and (max-width: 450px) {
      .Background {
          background-size: 180%;
          background-attachment: scroll;
      }

      .BackgroundFilter {
          background-color: rgba(82, 82, 82, 0.5);
      }

      .Wrapper {
          padding: 5px 0 100px 0;
      }

      .Wrapper>a {
          margin-left: 10px;
          font-size: 14px;
      }

      .Companies {
          gap: 10px;
          margin: 10px;
      }

      .Companies>article>img {
          height: 25px;
          max-width: 60px;
      }

      .Companies>article>div {
          height: 25px;
          max-width: 60px;
      }

      .Companies>article>div>p {
          font-size: 8px;
          border-radius: 6px;
          padding: 4px 6px;
      }

      .Wrapper>h3 {
          font-size: 14px;
          margin: 10px;
      }

      .Wrapper>p {
          font-size: 11px;
          margin: 10px
      }

      .Wrapper>i {
          margin: 10px;
      }

      .NotFilm {
          background-color: #313131;
          padding: 10px;
          gap: 10px;
          margin: 0;
          border-radius: 0;
      }

      .NotFilm>i {
          font-size: 12px;
      }

      .NotFilm>a {
          font-size: 12px;
      }

      .LinkButton {
          margin: 10px;
      }

      .LinkButton>h3 {
          font-size: 14px;
      }

      .LinkButton>a {
          font-size: 14px;
      }
  }