.Container {
    padding: 20px 30px;
}

.Container>h2 {
    margin: 0;
    margin-bottom: 15px;
}

@media screen and (max-width: 450px) {

    .Container {
        padding: 10px 10px 70px 10px;
    }

    .Container>h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .Description {
        font-size: 12px;
    }
}