.SearchForm {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}

.SearchForm>h3 {
    margin: 0;
}

.SearchForm>form {
    display: flex;
    align-items: center;
    gap: 10px
}

.SearchForm>form>input {
    border: none;
    border-bottom: 3px solid #be4040;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    padding: 8px 10px;
    background-color: #313131;
    width: 270px;
    color: white;
}

.SearchForm>form>input::placeholder {
    text-align: center;
}

.SearchForm>form>input:focus {
    outline: none;
    background-color: #282828;
}

.SearchForm>form>button {
    background: none;
    border: none;
    cursor: pointer;
}

.ListHeader {
    margin-top: 0;
    margin-bottom: 20px;
}

.NotFound {
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .SearchForm {
        gap: 10px;
        margin: 10px 0;
    }

    .SearchForm>h3 {
        font-size: 12px;
    }

    .SearchForm>form>input {
        font-size: 11px;
        padding: 5px 8px;
        width: 180px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .ListHeader {
        font-size: 16px;
    }

    .NotFound {
        font-size: 12px;
    }

}