.Container {
    padding: 20px 30px 50px 30px;
}

.Container>header {
    margin-bottom: 10px;
}

.Container h2 {
    margin: 0 0 10px 0;
}

.Container i {
    color: #bebebe;
}

.Buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 0 20px 0;
}

.Buttons>div>a {
    background-color: #be4040;
    color: white;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s;
    margin-right: 15px;
}

@media screen and (max-width: 750px) {
    .Buttons {
        display: inline-flex;
        gap: 12px;
    }

    .Buttons>div {
        display: inline-flex;
        flex-direction: column;
        gap: 12px;
    }
}

@media screen and (max-width: 650px) {
    .Container {
        padding: 20px 10px 50px 10px;
    }

    .Container>header {
        margin-bottom: 5px;
    }

    .Container h2 {
        font-size: 20px;
    }

    .Container i {
        font-size: 14px;
    }

    .Buttons>div>a {
        font-size: 15px;
        padding: 6px 12px;
    }
}