.Container {
    padding: 20px 30px 50px 30px;
}

.ButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 0 20px 0;
}

.Category,
.Management {
    display: flex;
    gap: 20px;
    align-items: center;
}

.Category>h2,
.Management>h2 {
    margin: 0;
    font-size: 16px;
}

.Category>div,
.Management>div {
    transition: transform 0.5s ease;
}

.Category>div>a,
.Management>div>a {
    background-color: #be4040;
    color: white;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s;
    transition: transform 0.5s ease;
}

@media screen and (min-width: 1400px) {

    .Category>div:hover,
    .Management>div:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 650px) {
    .Container {
        padding: 10px 10px 50px 10px;
    }

    .Category>div>a,
    .Management>div>a {
        font-size: 15px;
    }
}

@media screen and (max-width: 470px) {

    .Category,
    .Management {
        gap: 10px;
    }
}