.Wrapper {
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.Container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.Container>h2 {
    margin: 0
}